<div class="input" >
    <label class="input__container">
    <input
        class="input__element"
        name="{{name}}"
        type="{{type}}"
        placeholder=""
    />
        <div class="input__label">{{label}}</div>
        <span class="input__text-error">Недостаточно длинный</span>
    </label>
</div>