.dialog-list-conteiner {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin: 10px 0 10px 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 6px 0 #00000024;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
       }
}
