<div class='chat'>
    {{#> DialogConteiner}}
        {{> DialogListHeader }}
        {{> Search }}
         {{#each (ListDialog)}}
            {{> DialogItem }} 
         {{/each}}
    {{/DialogConteiner}}
    {{#> ChatConteiner}}
        {{> ChatHeader}}
        {{#> ChatBody}}
            <p class='chat-time'>14:32</p>
            {{#each (message)}}
                {{> ChatMessage }}
            {{/each}}
        {{/ChatBody}}
        {{> ChatFooter}}
    {{/ChatConteiner}}
</div>
