.input-message-form {
    width: 100%;
    margin-right: 40px;
}

.input-message {
    border-radius: 30px;
    background: #EFEFEF;
    padding: 10px 20px;
    border: none;
    width: 100%;
    outline:none;
}
