<a class="dialog-item">
    <div class="avatar">
        <img src="man.png" alt="avatar photo">
    </div>
    <div class="dialog-body">
        <dir class="dialog-title-row">
            <div class="user-title">
                 <span class="user-title__title">White chat</span>
            </div>
             <div class="dialog-title-details">
                <span class="message-status"></span>
                <span class="message-time">16:38</span>
            </div>
        </dir>
        <div class="dialog-subtitle">
            <div class="dialog-subtitle-row">
                 <span class="dialog-subtitle__span">
                     Друзья, у меня для вас особенный выпуск новостей, И Human Interface Guidelines и Material Design
                 </span>
                 <span class="dialog-subtitle-badge"></span>
            </div>
        </div>
    </div>
</a>