 <div class='dialog-list__header'>
    <a page='profile'>
        <img class='dialog-list__logo' src='man.png' alt='avatar' page='profile'>
    </a>
    <div class='dialog-list__header__user-info' >
        <a page='profile'>Vasiliy</a>
        <p>+7 (981) 755-85-28</p>
     </div>
    {{> Button label='Log out' type='link' page='login'}}
</div>
