<div class='password'>
    {{#> ProfileConteiner}}
        <h2>Password</h2>
        <div class='profile-item-list'>
            <ul>
                <form class='password-form'>
                    {{#each (passwordList)}}
                         <li>
                            {{> Input style='__profile'}}
                         </li>
                    {{/each}}
                </form>
            </ul>
        </div>
        <div class='profile-buttons'>
            {{> Button label='Return' type='edit' page='profile'}}
            {{> Button label='Save password' type='edit' page='profile'}}
        </div>
    {{/ProfileConteiner}}
</div>
