.password {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px 0 #00000024;
    padding: 60px 100px 30px;
    border-radius: 15px;
}

.password h2 {
    margin: auto;
    margin-bottom: 10px;
}
